# Auto detect text files and perform LF normalization
* text=auto
Staging site https://dne2nrwmy0hcq.cloudfront.net/
Production site https://editor.resprohealthandsafety.com/

taylor@methodmill.com/test
ricardotagle1006@gmail.com/test
dsdylemma@gmail.com/test
dylan@juicedapps.com/test
