# Auto detect text files and perform LF normalization
* text=auto


source .venv/bin/activate 
uvicorn main:app --reload

(How to )
docker build -t tst . --platform=linux/amd64
docker tag tst:latest 701494763670.dkr.ecr.us-east-1.amazonaws.com/report-api:latest
aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 701494763670.dkr.ecr.us-east-1.amazonaws.com
aws s3 sync static/ s3://respro-android-staging/static --region=us-east-1
docker push 701494763670.dkr.ecr.us-east-1.amazonaws.com/report-api:latest

source /Users/trumpi/Desktop/MM/mqm-report-fastapi/.venv/bin/activate
uvicorn main:app --reload

============================
import uvicorn
from core.factory import create_app
from mangum import Mangum
from database import db, db_instance
from pony.orm import commit, db_session
from migration.initalization_script import initScript
import os
import hashlib as hs

app = create_app(create_tables=True, check_tables=False)


@app.on_event("startup")
@db_session
def startup_event():
    print('=========initScript=======')
    # initScript()


# app = Mangum(app)


if __name__ == "__main__":
    uvicorn.run(app, host="0.0.0.0", port=8000)
=================
from core.factory import create_app
from mangum import Mangum
from database import db, db_instance
from pony.orm import commit, db_session
from migration.initalization_script import initScript
import os
import hashlib as hs

app = create_app(create_tables=True, check_tables=False)


@app.on_event("startup")
@db_session
def startup_event():

    initScript()


app = Mangum(app)

Staging site https://dne2nrwmy0hcq.cloudfront.net/
Production site https://editor.resprohealthandsafety.com/

taylor@methodmill.com/test
ricardotagle1006@gmail.com/test
dsdylemma@gmail.com/test
dylan@juicedapps.com/test

API_ROOT_PATH=/staging
API_TIMEZONE=America/Phoenix
API_TITLE=Report API Staging
AWS_S3_BUCKET=mm-report-api-staging
AWS_S3_DATA_FOLDER=raw_data/
AWS_S3_IMAGE_FOLDER=image/
AWS_S3_REMAP_FOLDER=remaps/
AWS_SES_SENDER=claire@methodmill.com
CLIENT_BASE_URL=localhost
DEV_DB_HOST=mm-apps.cybqo5uzswvh.us-east-1.rds.amazonaws.com
DEV_DB_NAME=report_api_staging
DEV_DB_PASS=sadf3x33$za
DEV_DB_USER=report_api_staging
EMAILER_LAMBDA=report-emailer-staging
PDF_LAMBDA=report-docprinter-staging
#PDF_LAMBDA=respro-docprinter-prod
PDF_FOLDER=https://mm-report-api-staging.s3.amazonaws.com/
ENVIRONMENT=DEVELOPMENT
ERROR_EMAILS=[]
INCLUDE_NA=True
INCLUDE_PASS=True
#RENDER_BASE_URL=https://dzyy41lvyg.execute-api.us-east-1.amazonaws.com/staging/v1_0
RENDER_BASE_URL=http://localhost:8000/v2_0
RENDER_TEMPLATE=respro.html
SECRET=BqUv8Q
SEND_TO_AUDITOR=True


// // ===================================================

API_ROOT_PATH=/prod
API_TIMEZONE=America/Phoenix
API_TITLE=Respro
AWS_S3_BUCKET=mm-respro-prod
AWS_S3_DATA_FOLDER=raw_data/

AWS_S3_IMAGE_FOLDER=image/
AWS_S3_REMAP_FOLDER=remaps/
AWS_SES_SENDER=claire@methodmill.com
CLIENT_BASE_URL=localhost
PROD_DB_HOST=mm-apps1.cybqo5uzswvh.us-east-1rds.amazonaws.com
PROD_DB_NAME=respro_prod
PROD_DB_PASS=eezf7(322fd44$ae#s
PROD_DB_USER=respro_prod
EMAILER_LAMBDA=respro-emailer-prod
PDF_LAMBDA=report-docprinter-staging
#PDF_LAMBDA=respro-docprinter-prod
PDF_FOLDER=https://mm-report-api-staging.s3.amazonaws.com/
ENVIRONMENT=PRODUCTION
ERROR_EMAILS=[]
INCLUDE_NA=True
INCLUDE_PASS=True
#RENDER_BASE_URL=https://dzyy41lvyg.execute-api.us-east-1.amazonaws.com/staging/v1_0
RENDER_BASE_URL=http://localhost:8000/v2_0
RENDER_TEMPLATE=respro.html
SECRET=KRgc68
SEND_TO_AUDITOR=True

// // ========================================================

API_ROOT_PATH=/staging
API_TIMEZONE=America/Phoenix
API_TITLE=Report API Staging
AWS_S3_BUCKET=mm-report-api-staging
AWS_S3_DATA_FOLDER=raw_data/
AWS_S3_IMAGE_FOLDER=image/
AWS_S3_REMAP_FOLDER=remaps/
AWS_SES_SENDER=claire@methodmill.com
CLIENT_BASE_URL=localhost
DEV_DB_HOST=localhost
DEV_DB_NAME=staging1107
DEV_DB_PASS=report_api_staging
DEV_DB_USER=report_api_staging
EMAILER_LAMBDA=report-emailer-staging
PDF_LAMBDA=report-docprinter-staging
#PDF_LAMBDA=respro-docprinter-prod
PDF_FOLDER=https://mm-report-api-staging.s3.amazonaws.com/
ENVIRONMENT=DEVELOPMENT
ERROR_EMAILS=[]
INCLUDE_NA=True
INCLUDE_PASS=True
#RENDER_BASE_URL=https://dzyy41lvyg.execute-api.us-east-1.amazonaws.com/staging/v1_0
RENDER_BASE_URL=http://localhost:8000/v2_0
RENDER_TEMPLATE=respro.html
SECRET=BqUv8Q
SEND_TO_AUDITOR=True
