export DEBUG=
export SECRET_KEY=
export ENVIRONMENT=
export DEV_DB_HOST=
export DEV_DB_USER=
export DEV_DB_PASS=
export DEV_DB_NAME=
export PROD_DB_HOST=
export PROD_DB_USER=
export PROD_DB_PASS=
export PROD_DB_NAME=
export TEST_DB_HOST=
export TEST_DB_USER=
export TEST_DB_PASS=
export DB_NAME=
export GOOGLE_CLIENT_ID=
export CLIENT_BASE_URL=
export SENDER_EMAIL=
export IMAGE_URl=TEST_
export INCLUDE_PASS=
export INCLUDE_NA=
export INCLUDE_NO=
export BADGE=
export EXTRA_BCC_EMAILS=
export UK_DATE=
export API_ROOT_PATH=
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export AWS_DEFAULT_REGION=
export AWS_BUCKET=
export BUCKET_TEST_IMAGE_FOLDER=
export BUCKET_PROD_IMAGE_FOLDER=
export BUCKET_DEV_IMAGE_FOLDER=
export BUCKET_TEST_DATA_FOLDER=
export BUCKET_PROD_DATA_FOLDER=
export BUCKET_DEV_DATA_FOLDER=
export BUCKET_PROD_REMAPED_DATA_FOLDER=
export BUCKET_DEV_REMAPED_DATA_FOLDER=
export BUCKET_PROD_REMAPED_DATA_FOLDER=
export BUCKET_TEST_REMAPED_DATA_FOLDER=
export API_TIMEZONE=